{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>AuthorIsPlayer</th>
                <th>Format</th>
                <th>TournamentGame</th>
                <th>Heure</th>
                <th>NbTotalPlayer</th>
                <th>NbOfTeam</th>
                <th>Address</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>Department</th>
                <th>NbOfGame</th>
                <th>GameStatut</th>
                <th>CreationDate</th>
                <th>ModifDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.date ? game.date|date('Y-m-d') : '' }}</td>
                <td>{{ game.authorIsPlayer ? 'Yes' : 'No' }}</td>
                <td>{{ game.format }}</td>
                <td>{{ game.tournamentGame.name }}</td>
                <td>{{ game.date ? game.date|date('H:i') : '' }}</td>
                <td>{{ game.nbPlayer.nb }}</td>
                <td>{{ game.nbOfTeam }}</td>
                <td>{{ game.address }}</td>
                <td>{{ game.zipCode }}</td>
                <td>{{ game.city }}</td>
                <td>{{ game.department }}</td>
                <td>{{ game.nbOfGame }}</td>
                <td>{{ game.gameStatut }}</td>
                <td>{{ game.creationDate ? game.creationDate|date('Y-m-d') : '' }}</td>
                <td>{{ game.modifDate ? game.modifDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_game_new') }}">Create new</a>
{% endblock %}
