{% extends 'base.html.twig' %}

{% block title %}NbJoueur index{% endblock %}

{% block body %}
    <h1>NbJoueur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nb</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nb_joueur in nb_joueurs %}
            <tr>
                <td>{{ nb_joueur.id }}</td>
                <td>{{ nb_joueur.nb }}</td>
                <td>
                    <a href="{{ path('app_nb_joueur_show', {'id': nb_joueur.id}) }}">show</a>
                    <a href="{{ path('app_nb_joueur_edit', {'id': nb_joueur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nb_joueur_new') }}">Create new</a>
{% endblock %}
