{% extends 'base.html.twig' %}

{% block title %}NbJoueur{% endblock %}

{% block body %}
    <h1>NbJoueur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nb_joueur.id }}</td>
            </tr>
            <tr>
                <th>Nb</th>
                <td>{{ nb_joueur.nb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nb_joueur_index') }}">back to list</a>

    <a href="{{ path('app_nb_joueur_edit', {'id': nb_joueur.id}) }}">edit</a>

    {{ include('nb_joueur/_delete_form.html.twig') }}
{% endblock %}
